.item-side
  .side-header
    .side-header__box
      %h3.side-header__box__new
        新規会員登録
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-member
          = link_to "#" do
            = icon('far', 'edit')
        %li.side-header__box__menu__edit
          = link_to "#" do
            = icon('fas', 'cog')
            
  .items
    = link_to "#", class: "item__member" do
      %p.item__member__list
        会員データ
    = link_to "#", class: "item__list" do
      %p.item__list__register
        申込み一覧